<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mggchatbottest;AccountKey=WS4s3VF/W02FpO3AuiED6CoWaQc/kNWlzP61xF3y0d4vZ8U22bnvN6+mnYOMqZ6hkSF/VFJ7R5q6ZcoXiPFVVg==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>